<div layout-fill ng-cloak class="auth-container" layout="row" flex>
	<div flex="65">
	</div>
	<div flex layout="column" layout-align="end start">
		<img src="app/assets/images/geral/logo.png" style="width: 440px; margin-top: 10px;">

		<div flex style="width: 100%">
			<form flex="100" style="margin: 20px 30px 0 40px;"
				  novalidate name="registerForm">
				<div layout="column">
					<label style="margin-top: 5%; text-align: center; font-family: janda; letter-spacing: 1px;
					 		font-size: 20px; color:white"
						   for="login">Login</label>
					<input class="input-login" id="login"
						   type="text" required name="login" ng-model="$authCtrl.usuario.login">

					<label for="password" style="text-align: center; font-family: janda; letter-spacing: 1px;
					 		font-size: 20px; color:white">
						Senha</label>
					<input class="input-login" id="password"
						   type="password" required name="password" ng-model="$authCtrl.usuario.senha">

					<div class="iniciar-button-container" layout="row" layout-align="center center"
						 style="margin-top: 3px">
						<img style="height: 40px" ng-click="registerForm.$valid && $authCtrl.authenticate()"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
