<md-dialog style="background: transparent; box-shadow: none">
    <div class="background-popup" style="width: 735px; height: 400px">
        <div layout="column" layout-align="center center"
             style="padding-top: 100px;">

            <h1>Parabéns! Você desbloqueou a fase dos Desenvolvedores</h1>

            <div layout="row" layout-align="center center" class="iniciar-button-container">
                <img style="margin-top: 60px; width: 200px;" ng-click="$desbloqueioDialog.backToRoom()">
                <img style="margin-left: 15px;margin-top: 60px; width: 200px;" ng-click="$desbloqueioDialog.continue()">
            </div>
        </div>
    </div>
</md-dialog>

