<div style="height: 100%; overflow: auto" class="sala-testadores-namespace background" layout="column" flex>
    <page-header></page-header>

    <div style="margin: 0 40px">
        <div layout="row" layout-align="start center">
            <div style="background: #232736" class="cerebros-container">
                <img src="app/assets/images/geral/cerebro_0.png" ng-repeat="cerebro in $valores.cerebrosDisponiveis">
            </div>
            <h1 style="letter-spacing: 2px; margin-left:175px">{{ $valores.desafio.programa.titulo }}</h1>
        </div>

        <div layout="row" layout-align="center center" style="background: #232736">

            <p style="margin: 0 20px; font-size: 30px; letter-spacing: 1px; text-align: center">
                {{ $valores.desafio.programa.descricao }}
            </p>
        </div>

        <div layout="row" layout-align="center center" style="background: #232736; margin-top: 15px">
            <div style="word-break:break-all; width: 70%; text-align: center">
                <ul style="list-style-type: none;">
                    <li style="display: inline; margin:10px 20px; cursor: pointer"
                        data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                        ng-model="valorDeEntrada" jqyoui-draggable="{animate:true, onStart:'$valores.startCallback(valorDeEntrada, $index)'}"
                        ng-repeat="valorDeEntrada in $valores.desafio.programa.valoresEntrada">
                        {{ valorDeEntrada.descricao }}
                    </li>
                </ul>
            </div>
        </div>

        <div layout="row" layout-align="center">
            <h1>Valores Escolhidos</h1>
        </div>

        <div layout="row" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop:'$valores.validate()'}"
             ng-model="$valores.selecionados"
             layout-align="center" style="background: #232736; margin-top: 15px; height: 90px">
            <div style="word-break:break-all; width: 70%; text-align: center">
                <ul style="list-style-type: none;">
                    <li style="display: inline; margin:10px 20px; cursor: pointer"
                        data-drag="false" ng-repeat="valorDeEntrada in $valores.selecionados">
                        {{ valorDeEntrada.descricao }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>