<div style="height: 100%; overflow: auto" class="sala-testadores-namespace background" layout="column" flex>
    <page-header></page-header>

    <div style="margin: 0 40px">

        <div layout="row" layout-align="start center">
            <h1 flex="70" style="letter-spacing: 2px;">{{ $valores.desafio.programa.titulo }}</h1>
            <div flex class="cerebros-container" layout="row" layout-align="start start">
                <img ng-src="{{cerebro.imageSrc}}" ng-repeat="cerebro in $valores.cerebrosDisponiveis">
            </div>
        </div>

        <div layout="row" layout-align="center center" class="descricao-programa-container">
            <p style="margin: 0 20px; font-size: 24px; padding-bottom: 10px;
                    letter-spacing: 1px; font-family:texto; text-align: center;">
                {{ $valores.desafio.programa.descricao }}
            </p>
        </div>

        <div layout="column">
            <p style="text-align: center; font-size: 18px; font-weight: bold">
                Arraste os valores de entrada correspondentes a documentação acima
            </p>
            <div layout="row" layout-align="center center" style="padding-bottom: 35px"
                 class="descricao-programa-container valores-entrada-container">
                <span class="valor-de-entrada" ng-if="valorDeEntrada" data-drag="true"
                      data-jqyoui-options="{revert: 'invalid'}" ng-model="valorDeEntrada"
                      jqyoui-draggable="{animate:true, onStart:'$valores.startCallback(valorDeEntrada, $index)'}"
                      ng-repeat="valorDeEntrada in $valores.desafio.programa.valoresEntrada">
                        {{ valorDeEntrada.descricao }}
                </span>
            </div>
        </div>

        <div layout="column">
            <h1 style="text-align: center">Valores Escolhidos</h1>

            <div class="valor-de-entrada-container">
                <div class="line">
                    <div class="valores-selecionados" layout="row" data-drop="true"
                         data-jqyoui-options jqyoui-droppable="{onDrop:'$valores.validate()'}"
                         ng-model="$valores.selecionados"
                         layout-align="center">
                        <span layout="row" layout-align="center center"
                              class="valor-de-entrada" ng-class="valorDeEntrada.pontos ? 'valor-correto' : 'valor-errado'"
                              data-drag="false" ng-repeat="valorDeEntrada in $valores.selecionados">
                            {{ valorDeEntrada.descricao }} {{ valorDeEntrada.pontos ? '+' + valorDeEntrada.pontos : '' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" layout-align="end center" class="prosseguir-button-container" style="margin-top: 10px">
            <img ng-click="$valores.goToNextStage()"/>
        </div>
    </div>
</div>