.auth-container {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../../assets/images/geral/login.png");
  background-repeat: no-repeat; }
  .auth-container .header {
    border-bottom: 1px solid #efefef; }
  .auth-container form {
    background: url(../../assets/images/geral/frame-login.png) no-repeat;
    margin-top: 5px;
    min-height: 250px; }
    .auth-container form .input-login {
      margin-left: 8%;
      color: white;
      min-height: 50px;
      border: none;
      padding: 0 5%;
      font-size: 18px;
      font-family: janda;
      text-align: center;
      width: 285px;
      background: url(../../assets/images/geral/frame-input-text.png) no-repeat left top; }
    .auth-container form input[type="text"]:focus, .auth-container form input[type="password"]:focus {
      outline: none; }

.dashboard-namespace .fase-box {
  border: 2px solid #efefef;
  height: 100px;
  margin: 20px 10px; }

.home-namespace {
  height: 100%;
  overflow: auto; }
  .home-namespace .fases-container h1 {
    font-size: 27px; }
  .home-namespace .fases-container p {
    text-align: justify;
    margin: 0;
    font-family: small-text;
    font-size: 22px;
    color: white;
    line-height: 27px;
    letter-spacing: 1px; }
  .home-namespace .fases-container .cadeado {
    width: 150px;
    height: 150px; }
  .home-namespace .fases-container .objetivos-container {
    margin: 10px 0; }
    .home-namespace .fases-container .objetivos-container img {
      width: 20px;
      height: 20px; }
    .home-namespace .fases-container .objetivos-container p {
      margin-left: 5px; }
  .home-namespace .fases-container .testadores-container {
    border-bottom: 5px solid #202636;
    border-radius: 25px;
    padding: 20px; }
  .home-namespace .fases-container .desenvolvedores-container {
    padding: 20px; }

.sala-testadores-namespace .valor-de-entrada {
  cursor: pointer;
  border: 2px solid #424661;
  padding: 10px;
  border-radius: 2px;
  margin: 0 20px;
  font-size: 12px;
  font-weight: bold; }
.sala-testadores-namespace .valor-de-entrada:hover {
  background: #373b52; }
.sala-testadores-namespace .desafio {
  top: 50%;
  left: 3.4%;
  position: fixed;
  content: url(../../assets/images/geral/pc.png);
  cursor: pointer;
  outline: none; }
.sala-testadores-namespace .desafio:hover {
  content: url(../../assets/images/geral/pc-iluminado.png); }
.sala-testadores-namespace .cerebros-container {
  min-height: 100px;
  padding: 8px 0;
  background: url(../../assets/images/geral/cerebros_box_02.png) no-repeat; }
  .sala-testadores-namespace .cerebros-container img {
    width: 75px;
    margin: 10px 10px; }
  .sala-testadores-namespace .cerebros-container img:first-child {
    margin-left: 67px; }
.sala-testadores-namespace .valores-entrada-container {
  margin-top: 15px;
  word-break: break-all;
  padding: 20px 0; }
.sala-testadores-namespace .valor-correto {
  color: #8BC63F; }
.sala-testadores-namespace .valor-errado {
  color: #CD6773; }
.sala-testadores-namespace .table-container {
  overflow: auto;
  min-height: 170px;
  margin-left: 30px; }
  .sala-testadores-namespace .table-container table {
    table-layout: fixed;
    border-collapse: collapse;
    word-break: break-all; }
    .sala-testadores-namespace .table-container table thead {
      font-size: 20px;
      border-bottom: 3px solid #efefef; }
      .sala-testadores-namespace .table-container table thead th {
        padding: 5px 0; }
    .sala-testadores-namespace .table-container table tbody {
      font-size: 18px;
      font-weight: 300;
      text-align: center; }
      .sala-testadores-namespace .table-container table tbody tr {
        border-bottom: 1px solid #efefef;
        height: 35px; }
      .sala-testadores-namespace .table-container table tbody td {
        min-height: 200px; }
.sala-testadores-namespace .valor-de-entrada-container {
  border: 2px solid #23262f;
  border-radius: 25px;
  min-height: 90px;
  background: #709e61; }
  .sala-testadores-namespace .valor-de-entrada-container .line {
    border: 2px solid #bcd82d;
    margin: 5px;
    border-radius: 19px; }
    .sala-testadores-namespace .valor-de-entrada-container .line .valores-selecionados {
      border: 2px solid #23262f;
      margin: 5px;
      border-radius: 18px;
      height: 90px;
      background: #232736;
      padding: 20px 0; }
.sala-testadores-namespace .sala-testadores-image {
  content: url(../../assets/images/geral/sala_testadores.png);
  width: 880px; }

h1, h2 {
  font-family: janda;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
  letter-spacing: 3px;
  margin: 0; }

p {
  color: white;
  margin: 0; }

span {
  color: white;
  letter-spacing: 0.5px; }

@font-face {
  font-family: 'janda';
  src: url("../fonts/JandaManateeSolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'texto';
  src: url("../fonts/Timeless.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'small-text';
  src: url("../fonts/Original Woody.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.background {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../../assets/images/geral/tela-lisa.png");
  background-repeat: no-repeat; }

.background-popup {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../../assets/images/geral/pop_up_liso.png");
  background-repeat: no-repeat; }

.abstract-img-button, .sair-button-container img, .iniciar-button-container img, .prosseguir-button-container img, .finalizar-button-container img, .home-button-container img, .voltar-button-container img, .try-again-container img, .play-button {
  cursor: pointer;
  outline: none; }

.sair-button-container img {
  width: 95px;
  height: 50px;
  content: url("../../assets/images/geral/sair_off.png"); }
.sair-button-container img:hover {
  content: url("../../assets/images/geral/sair_on.png"); }

.iniciar-button-container img {
  width: 145px;
  height: 50px;
  content: url("../../assets/images/dashboard/iniciar_off.png"); }
.iniciar-button-container img:hover {
  content: url("../../assets/images/dashboard/iniciar_on.png"); }

.prosseguir-button-container img {
  width: 145px;
  height: 50px;
  content: url("../../assets/images/sala-testadores/botao_prosseguir_off.png"); }
.prosseguir-button-container img:hover {
  content: url("../../assets/images/sala-testadores/botao_prosseguir_on.png"); }

.finalizar-button-container img {
  width: 145px;
  height: 50px;
  content: url("../../assets/images/geral/botao_finalizar_off.png"); }
.finalizar-button-container img:hover {
  content: url("../../assets/images/geral/botao_finalizar_on.png"); }

.home-button-container img {
  width: 145px;
  height: 50px;
  content: url("../../assets/images/geral/botao_home_off.png"); }
.home-button-container img:hover {
  content: url("../../assets/images/geral/botao_home__on.png"); }

.voltar-button-container img {
  width: 145px;
  height: 50px;
  content: url("../../assets/images/geral/botao_voltar_a_sala__off.png"); }
.voltar-button-container img:hover {
  content: url("../../assets/images/geral/botao_voltar_a_sala__on.png"); }

.try-again-container img {
  width: 145px;
  height: 50px;
  content: url("../../assets/images/geral/botao_tentar_novamente_off.png"); }
.try-again-container img:hover {
  content: url("../../assets/images/geral/botao_tentar_novamente_on.png"); }

.page-header {
  height: 65px;
  border-bottom: 5px solid #202636;
  border-radius: 8px; }
  .page-header h1 {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
    letter-spacing: 2px;
    margin-left: 20px; }

.play-button {
  width: 90px;
  content: url(../images/geral/botao_play_off.png); }

.play-button:hover {
  content: url(../images/geral/botao_play_on.png); }

.custom-button {
  height: 36px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: #65acff;
  color: #ffffff; }

.custom-button:not([disabled]):hover {
  background-color: #4D97ED; }

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
  border-color: #dc8833; }

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
  border-color: #dc8833; }

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
  background-color: #dc8833; }

.header-background {
  background: url(../images/geral/frame-header.png) no-repeat;
  font-size: 20px;
  font-family: small-text;
  padding: 10px 0 10px 25px;
  letter-spacing: 1px;
  min-height: 50px; }

.descricao-programa-container {
  background: url(../images/geral/frame-descricao-programa.png) no-repeat;
  margin-top: 5px;
  min-height: 130px;
  min-width: 1200px; }

/*# sourceMappingURL=under-attack.css.map */
