<!--<img src="app/assets/images/geral/popup-liso.png" style="display: none;">-->
<div style="height: 100%; overflow-y: auto" class="sala-testadores-namespace background" layout="column" flex>
    <page-header></page-header>

    <div layout="row" style="height: 100%">
        <div>
            <div class="sala-testadores-image">
                <img ng-style="$testadores.getPosition(desafio)" class="desafio" ng-repeat="desafio in $testadores.desafios"
                     ng-click="$testadores.openDesafio(desafio.id)" />
            </div>
        </div>
        <div layout="column" flex layout-align="start center">
            <h1 style="text-align: center">Chave da Sala dos Desenvolvedores</h1>
            <img style="width: 200px" ng-repeat="item in $testadores.itensAluno"
                ng-src="{{$testadores.getImageSrc(item)}}">
        </div>
    </div>
</div>