.sala-testadores-namespace {

    .desafio {
        top: 260px;
        left: 122px;
        position: fixed;
        cursor: pointer;
    }

    .cerebros-container {
        img {
            width: 75px;
            margin: 10px 10px;
        }

    }

    .valor-correto {
        color: green;
    }

    .valor-errado {
        color: red;
    }

    .validate-classe-equivalencia {
        content: url(../../assets/)
    }

}