<md-dialog aria-label="Adicionar Valor de Entrada" style="width: 600px">

	<md-toolbar style="background: white; color: black; border-bottom: 2px solid #efefef">
		<div class="md-toolbar-tools">
			<h2>Incluir Valor de Entrada</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="$valorEntradaCtrl.hide()">
				<span>X</span>
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content style="overflow: hidden;" layout-padding>

		{{ $valorEntradaCtrl.valorDeEntrada}}
		<form novalidate name="valorEntradaForm" ng-submit="valorEntradaForm.$valid && $valorEntradaCtrl.add()">
			<div layout="row">
				<md-input-container flex="100" class="md-block">
					<label>Descrição</label>
					<input required name="descricao" ng-model="$valorEntradaCtrl.valorDeEntrada.descricao">
					<div ng-messages="valorEntradaForm.descricao.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row">
				<md-input-container flex="50" class="md-block">
					<label>Tipo</label>
					<md-select ng-model="$valorEntradaCtrl.valorDeEntrada.tipo" required name="tipo">
						<md-option ng-value="tipo.value" ng-selected="tipo.value == $valorEntradaCtrl.valorDeEntrada.tipo"
								   ng-repeat="tipo in $valorEntradaCtrl.tipos">
							{{ tipo.label }}
						</md-option>
					</md-select>
					<div ng-messages="valorEntradaForm.tipo.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>

				<md-input-container flex="50" class="md-block">
					<label>Dificuldade</label>
					<md-select ng-model="$valorEntradaCtrl.valorDeEntrada.dificuldade" required name="dificuldade">
						<md-option ng-value="dificuldade.value" ng-repeat="dificuldade in $valorEntradaCtrl.dificuldades"
							   ng-selected="dificuldade.value == $valorEntradaCtrl.valorDeEntrada.dificuldade">
							{{ dificuldade.label }}
						</md-option>
					</md-select>
					<div ng-messages="valorEntradaForm.dificuldade.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" layout-align="end center">
				<md-button class="custom-button" type="submit">Incluir</md-button>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>