<div style="height: 100%; overflow: auto" class="sala-testadores-namespace background" layout="column" flex>
    <page-header></page-header>

    <div style="margin: 0 40px">

        <div layout="row" layout-align="start center">
            <div class="cerebros-container" layout="row" flex="40" layout-align="start start">
                <img ng-src="{{cerebro.imageSrc}}" ng-repeat="cerebro in $classes.cerebrosDisponiveis">
            </div>
            <h1 flex style="letter-spacing: 2px;">{{ $classes.desafio.programa.titulo }}</h1>
        </div>

        <div layout="row" layout-align="center center" style="background: #232736">
            <p style="margin: 0 20px; font-size: 24px; letter-spacing: 1px; font-family: texto;
                text-align: center;padding: 15px 0">
                {{ $classes.desafio.programa.descricao }}
            </p>
        </div>

        <div layout="row" style="margin-top: 15px">
            <div layout="column" layout-align="center center" flex="25">
                <md-radio-group ng-model="$classes.valorSelecionado">
                    <md-radio-button style="font-size:20px; letter-spacing: 1px; font-family: texto; font-weight: bold"
                                 class="custom-radio-btn"
                            ng-repeat="alunoValor in $classes.alunoValores" ng-value="alunoValor.valorDeEntrada">
                        {{ alunoValor.valorDeEntrada.descricao }}
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div flex="25" layout="row" layout-align="center center">
                <input style="background: #232736; color: white; text-align: center;
                        border-radius: 3px; border: 2px solid #232736; margin-left: 10px"
                       ng-model="$classes.valorPreenchido"
                       type="text">
            </div>

            <div layout="row" layout-align="center center" flex="25">
                <img class="play-button" ng-click="$classes.validate()">
            </div>

            <div flex style="background: #232736; min-height: 90px; border-radius: 5px; font-family: small-text"
                 layout="row" layout-align="center center">
                <span style="text-align: center; font-size: 18px; letter-spacing: 1px">
                    {{ $classes.errorMessage }}
                </span>
            </div>
        </div>

        <div class="table-container" style="margin-top: 15px">
            <table style="width: 100%;" id="report-items">
                <thead style="letter-spacing: 2px; font-size: 20px; font-family: texto">
                    <th style="width: 275px">Valor de Entrada</th>
                    <th style="width: 250px">Resultado Esperado</th>
                    <th style="width: 250px">Saída</th>
                    <th style="width: 250px">Classe de Equivalência</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $classes.classesAluno">
                        <td style="width: 275px">{{ item.classeEquivalencia.valorDeEntrada.descricao }}</td>
                        <td style="width: 250px">{{ item.classeEquivalencia.resultadoEsperado }}</td>
                        <td style="width: 250px">{{ item.classeEquivalencia.saida }}</td>
                        <td style="width: 250px"> Classe {{ item.classeEquivalencia.tipo === 'VALIDA' ? 'Válida' : 'Inválida' }}
                            ({{ item.classeEquivalencia.descricao }})
                        </td>
                        <td>
                            <span ng-if="item.classeEquivalencia.bugExistente">
                                <img src="app/assets/images/geral/zombug_icon.png" style="width: 50px;">
                            </span>
                            <span ng-if="item.classeEquivalencia.ingrediente">
                                TEM INGREDIENTE
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="finalizar-button-container" layout="row" layout-align="end center" style="margin-top: 10px">
            <img ng-click="$classes.finalizar()">
        </div>
    </div>
</div>