<md-dialog aria-label="Adicionar Valor de Entrada" style="width: 600px">

	<md-toolbar style="background: white; color: black; border-bottom: 2px solid #efefef">
		<div class="md-toolbar-tools">
			<h2>Incluir Valor de Entrada</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="$valorEntradaCtrl.hide()">
				<span>X</span>
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content style="overflow: hidden;" layout-padding>
		<form novalidate name="valorEntradaForm" ng-submit="valorEntradaForm.$valid && $valorEntradaCtrl.add()">
			<div layout="row">
				<md-input-container flex="100" class="md-block">
					<label>Descrição</label>
					<input required name="descricao" ng-model="$valorEntradaCtrl.valorDeEntrada.descricao">
					<div ng-messages="valorEntradaForm.descricao.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row">
				<md-input-container flex="50" class="md-block">
					<label>Tipo</label>
					<md-select ng-model="$valorEntradaCtrl.valorDeEntrada.tipo" required name="tipo">
						<md-option ng-value="tipo.value" ng-selected="tipo == ngModel"
								   ng-repeat="tipo in $valorEntradaCtrl.tipos">
							{{ tipo.label }}
						</md-option>
					</md-select>
					<div ng-messages="valorEntradaForm.tipo.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>

				<md-input-container flex="50" class="md-block">
					<label>Dificuldade</label>
					<md-select ng-model="$valorEntradaCtrl.valorDeEntrada.dificuldade" required name="dificuldade">
						<md-option ng-value="dificuldade.value" ng-selected="dificuldade == ngModel"
								   ng-repeat="dificuldade in $valorEntradaCtrl.dificuldades">
							{{ dificuldade.label }}
						</md-option>
					</md-select>
					<div ng-messages="valorEntradaForm.dificuldade.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" layout-align="end center">
				<md-button class="custom-button" type="submit">Incluir</md-button>
			</div>

			<!--<div layout="column">

				<div layout="row" layout-align="start center" style="border-bottom: 2px solid #efefef">
					Classes De Equivalência
				</div>

				<div layout="row">
					<form action="" name="classeEquivalenciaForm">
						<md-input-container flex="33" class="md-block">
							<label>Descrição</label>
							<input required name="classeEquivalenciaDescricao"
								   ng-model="$valorEntradaCtrl.classeEquivalencia.descricao">
							<div ng-messages="classeEquivalenciaForm.classeEquivalenciaDescricao.$error">
								<div ng-message="required">Campo obrigatório</div>
							</div>
						</md-input-container>
					</form>

				</div>


				<md-table-container>
					<table md-table md-row-select ng-model="$valorEntradaCtrl.classesEquivalenciaSelected"
						   multiple>
						<thead md-head>
						<tr md-row>
							<th md-column><span>Descrição</span></th>
							<th md-column><span>Dificuldade</span></th>
							<th md-column><span>Resultado Esperado</span></th>
							<th md-column><span>Saída</span></th>
							<th md-column><span>Ingrediente</span></th>
							<th md-column><span>Bug?</span></th>
						</tr>
						</thead>
						<tbody md-body>
						<tr md-row ng-repeat="classeEquivalencia in $valorEntradaCtrl.valorDeEntrada.classesEquivalencia">
							<td md-cell>{{classeEquivalencia.descricao}}</td>
							<td md-cell>{{classeEquivalencia.dificuldade.descricao}}</td>
							<td md-cell>{{classeEquivalencia.resultadoEsperado}}</td>
							<td md-cell>{{classeEquivalencia.saide}}</td>
							<td md-cell>{{classeEquivalencia.ingrediente.descricao}}</td>
							<td md-cell>{{classeEquivalencia.bugExistente ? 'Sim' : 'Não'}}</td>
						</tr>
						</tbody>
					</table>
				</md-table-container>
			</div>-->
		</form>
	</md-dialog-content>
</md-dialog>