<md-dialog aria-label="Adicionar Classe de Equivalência" style="width: 100%; height: 100%">

	<md-toolbar style="background: white; color: black; border-bottom: 2px solid #efefef">
		<div class="md-toolbar-tools">
			<h2>Incluir Classe de Equivalência para {{ $classeCtrl.valorEntrada.descricao }}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="$classeCtrl.hide()">
				<span>X</span>
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content layout-padding>
		<form novalidate name="classeForm" ng-submit="classeForm.$valid && $classeCtrl.add()">
			<div layout="row">
				<md-input-container flex="33" class="md-block">
					<label>Descrição</label>
					<input required name="descricao" ng-model="$classeCtrl.classe.descricao">
					<div ng-messages="classeForm.descricao.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>

				<md-input-container flex="33" class="md-block">
					<label>Tipo</label>
					<md-select ng-model="$classeCtrl.classe.tipo" required name="tipo">
						<md-option ng-value="tipo.value" ng-selected="tipo == ngModel"
								   ng-repeat="tipo in $classeCtrl.tipos">
							{{ tipo.label }}
						</md-option>
					</md-select>
					<div ng-messages="classeForm.tipo.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>

				<md-input-container flex="33" class="md-block">
					<label>Dificuldade</label>
					<md-select ng-model="$classeCtrl.classe.dificuldade" required name="dificuldade">
						<md-option ng-value="dificuldade" ng-selected="dificuldade == ngModel"
								   ng-repeat="dificuldade in $classeCtrl.dificuldades">
							{{ dificuldade.label }}
						</md-option>
					</md-select>
					<div ng-messages="classeForm.dificuldade.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row">
				<md-input-container flex="33" class="md-block">
					<label>Expressão Regular</label>
					<input required name="expressaoRegular" ng-model="$classeCtrl.classe.expressaoRegular">
					<div ng-messages="classeForm.expressaoRegular.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>

				<md-input-container flex="33" class="md-block">
					<md-checkbox md-no-ink aria-label="Bug na Fase" class="md-primary"
								 ng-model="$classeCtrl.classe.bugExistente">
					</md-checkbox>
					Bug Existente?
				</md-input-container>

				<md-input-container flex="33" class="md-block">
					<label>Ingrediente</label>
					<md-select ng-model="$classeCtrl.classe.ingrediente" name="ingrediente">
						<md-option ng-value="ingrediente" ng-selected="ingrediente == ngModel"
								   ng-repeat="ingrediente in $classeCtrl.ingredientes">
							{{ ingrediente.descricao }}
						</md-option>
					</md-select>
					<div ng-messages="classeForm.ingrediente.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row">
				<md-input-container flex="50" class="md-block">
					<label>Resultado Esperado</label>
					<input required name="resultadoEsperado" ng-model="$classeCtrl.classe.resultadoEsperado">
					<div ng-messages="classeForm.resultadoEsperado.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>

				<md-input-container flex="50" class="md-block">
					<label>Saída</label>
					<input required name="saida" ng-model="$classeCtrl.classe.saida">
					<div ng-messages="classeForm.saida.$error">
						<div ng-message="required">Campo obrigatório</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" layout-align="end center">
				<md-button class="custom-button" type="submit">Incluir</md-button>
			</div>
		</form>
		<md-table-container>
			<table md-table md-row-select ng-model="$classeCtrl.classesEquivalenciaSelected"
				   multiple>
				<thead md-head>
				<tr md-row>
					<th md-column><span>Descrição</span></th>
					<th md-column><span>Dificuldade</span></th>
					<th md-column><span>Resultado Esperado</span></th>
					<th md-column><span>Saída</span></th>
					<th md-column><span>Ingrediente</span></th>
					<th md-column><span>Bug?</span></th>
				</tr>
				</thead>
				<tbody md-body>
				<tr md-row ng-repeat="classeEquivalencia in $classeCtrl.valorEntrada.classesEquivalencia">
					<td md-cell>{{classeEquivalencia.descricao}}</td>
					<td md-cell>{{classeEquivalencia.dificuldade.label }}</td>
					<td md-cell>{{classeEquivalencia.resultadoEsperado}}</td>
					<td md-cell>{{classeEquivalencia.saida}}</td>
					<td md-cell>{{classeEquivalencia.ingrediente.descricao}}</td>
					<td md-cell>{{classeEquivalencia.bugExistente ? 'Sim' : 'Não'}}</td>
				</tr>
				</tbody>
			</table>
		</md-table-container>

		<div layout="row" layout-align="end center"
			 ng-show="$classeCtrl.valorEntrada.classesEquivalencia.length > 0">
			<md-button ng-click="$classeCtrl.finalizar()" class="custom-button">Finalizar</md-button>
		</div>
	</md-dialog-content>
</md-dialog>