<md-content flex layout="column" layout-fill style="background: white">

	<div flex="10" style="border-bottom: 2px solid #efefef" layout-align="start center" layout-padding
		 layout="row">
		<div flex="90">
			Desafios Cadastrados
		</div>

		<div flex>
			<md-button ng-click="$faseCtrl.cadastrandoDesafio = !$faseCtrl.cadastrandoDesafio"
					   class="md-button custom-button">
				{{ $faseCtrl.cadastrandoDesafio ? 'Voltar' : 'Novo'}}
			</md-button>
		</div>
	</div>

	<div flex layout-padding>

		<div ng-show="$faseCtrl.cadastrandoDesafio">

			<form name="desafioForm">

				<div layout="row">
					<md-input-container flex="50" class="md-block">
						<label>Título</label>
						<input required name="titulo" ng-model="$faseCtrl.desafio.programa.titulo">
						<div ng-messages="desafioForm.titulo.$error">
							<div ng-message="required">Campo obrigatório</div>
						</div>
					</md-input-container>

					<md-input-container flex="50" class="md-block">
						<label>Nível</label>
						<md-select ng-model="$faseCtrl.desafio.nivel" required name="nivel">
							<md-option ng-value="nivel.value" ng-selected="nivel == ngModel"
									   ng-repeat="nivel in $faseCtrl.niveis">
								{{ nivel.label }}
							</md-option>
						</md-select>
						<div ng-messages="desafioForm.nivel.$error">
							<div ng-message="required">Campo obrigatório</div>
						</div>
					</md-input-container>
				</div>

				<div layout="column">
					<md-input-container flex="100" class="md-block">
						<label>Descrição</label>
						<textarea ng-model="$faseCtrl.desafio.programa.descricao" name="descricao"
								  maxlength="600" md-maxlength="600"
								  style="max-height: 100px; overflow-y: scroll" rows="6">
							</textarea>
						<div ng-messages="desafioForm.descricao.$error">
							<div ng-message="required">Campo obrigatório</div>
						</div>
					</md-input-container>
				</div>

				<div layout="column" style="border: 2px solid #efefef" layout-padding>
					<div layout="row" layout-align="start center">
						Valores de Entrada
						<md-button class="custom-button" ng-click="$faseCtrl.addValorDeEntrada(null)">
							Novo
						</md-button>
					</div>
					<div>
						<md-table-container>
							<table md-table md-row-select ng-model="$faseCtrl.valorDeEntradaSelected"
								   multiple>
								<thead md-head>
								<tr md-row>
									<th md-column><span>Descrição</span></th>
									<th md-column><span>Tipo</span></th>
									<th md-column><span>Dificuldade</span></th>
									<th md-column><span>Classes de Equivalência</span></th>
								</tr>
								</thead>
								<tbody md-body>
								<tr md-row ng-repeat="valorDeEntrada in $faseCtrl.desafio.programa.valoresEntrada">
									<td md-cell>{{valorDeEntrada.descricao}}</td>
									<td md-cell>{{valorDeEntrada.tipo}}</td>
									<td md-cell>{{valorDeEntrada.dificuldade}}</td>
									<td md-cell>
										<md-button ng-click="$faseCtrl.addValorDeEntrada(valorDeEntrada)">Editar</md-button>
										<md-button ng-click="$faseCtrl.addClasses(valorDeEntrada)">Classes</md-button>
									</td>
								</tr>
								</tbody>
							</table>
						</md-table-container>
					</div>
				</div>

				<div layout="row">
					<md-button ng-click="$faseCtrl.update()">Salvar</md-button>
				</div>

			</form>
		</div>

		<div ng-hide="$faseCtrl.cadastrandoDesafio">
			<md-table-container>
				<table md-table md-row-select ng-model="$faseCtrl.selectedDesafios" multiple>
					<thead md-head>
					<tr md-row>
						<th md-column><span>Descrição</span></th>
						<th md-column><span>Nível</span></th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row ng-repeat="desafio in $faseCtrl.fase.desafios">
						<td md-cell>{{desafio.programa.descricao}}</td>
						<td md-cell>{{desafio.nivel}}</td>
					</tr>
					</tbody>
				</table>
			</md-table-container>
		</div>
	</div>
</md-content>
