@import "../../modules/auth/auth";
@import "../../modules/admin/dashboard/dashboard";
@import "../../modules/home/home";
@import "../../modules/sala-testadores/sala-testadores";

h1, h2 {
    font-family: janda;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
    letter-spacing: 3px;
    margin: 0;
}

p {
    //font-family: texto;
    color: white;
    //letter-spacing: 1px;
    margin: 0;
}

span {
    //font-family: texto;
    color: white;
    letter-spacing: 0.5px;
}

@font-face {
    font-family: 'janda';
    src: url('../fonts/JandaManateeSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texto';
    src: url('../fonts/Timeless.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'small-text';
    src: url('../fonts/Original Woody.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.background {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover;
    background-image: url('../../assets/images/geral/tela-lisa.png');
    background-repeat: no-repeat;
}


.background-popup {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover;
    background-image: url('../../assets/images/geral/pop_up_liso.png');
    background-repeat: no-repeat;
}

.abstract-img-button {
    cursor: pointer;
    outline: none;
}

.sair-button-container {
    img {
        @extend .abstract-img-button;
        width: 95px;
        height: 50px;
        content:url('../../assets/images/geral/sair_off.png');
    }

    img:hover {
        content:url('../../assets/images/geral/sair_on.png');
    }
}

.iniciar-button-container {
    img {
        @extend .abstract-img-button;
        width: 145px;
        height: 50px;
        content:url('../../assets/images/dashboard/iniciar_off.png');
    }

    img:hover {
        content:url('../../assets/images/dashboard/iniciar_on.png');
    }
}

.prosseguir-button-container {
    img {
        @extend .abstract-img-button;
        width: 145px;
        height: 50px;
        content:url('../../assets/images/sala-testadores/botao_prosseguir_off.png');
    }

    img:hover {
        content:url('../../assets/images/sala-testadores/botao_prosseguir_on.png');
    }
}

.finalizar-button-container {
    img {
        @extend .abstract-img-button;
        width: 145px;
        height: 50px;
        content:url('../../assets/images/geral/botao_finalizar_off.png');
    }

    img:hover {
        content:url('../../assets/images/geral/botao_finalizar_on.png');
    }

}

.home-button-container {
    img {
        @extend .abstract-img-button;
        width: 145px;
        height: 50px;
        content:url('../../assets/images/geral/botao_home_off.png');
    }

    img:hover {
        content:url('../../assets/images/geral/botao_home__on.png');
    }
}

.voltar-button-container {
    img {
        @extend .abstract-img-button;
        width: 145px;
        height: 50px;
        content:url('../../assets/images/geral/botao_voltar_a_sala__off.png');
    }

    img:hover {
        content:url('../../assets/images/geral/botao_voltar_a_sala__on.png');
    }
}

.try-again-container {
    img {
        @extend .abstract-img-button;
        width: 145px;
        height: 50px;
        content:url('../../assets/images/geral/botao_tentar_novamente_off.png');
    }
    img:hover {
        content:url('../../assets/images/geral/botao_tentar_novamente_on.png');
    }

}

.page-header {
    height: 65px;
    border-bottom: 5px solid #202636;
    border-radius: 8px;
    h1 {
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
        letter-spacing: 2px;
        margin-left: 20px;
    }
}

.play-button {
    @extend .abstract-img-button;
    width: 90px;
    content: url(../images/geral/botao_play_off.png);
}

.play-button:hover{
    content: url(../images/geral/botao_play_on.png);
}

.custom-button {
    height: 36px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    background-color: #65acff;
    color: #ffffff;
}

.custom-button:not([disabled]):hover {
  background-color: #4D97ED;
}

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
    border-color: #dc8833;
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #dc8833;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #dc8833;
}

.header-background {
    background: url(../images/geral/frame-header.png) no-repeat;
    font-size: 20px;
    font-family: small-text;
    padding: 10px 0 10px 25px;
    letter-spacing: 1px;
    min-height: 50px;
}

.descricao-programa-container {
    background: url(../images/geral/frame-descricao-programa.png) no-repeat;
    margin-top: 5px;
    min-height: 130px;
    min-width: 1200px;
}
