.home-namespace {
    height: 100%;
    overflow: auto;
    .fases-container {
        h1 {
            font-size: 27px;
        }
        p {
            text-align: justify;
            margin: 0;
            font-family: small-text;
            font-size: 22px;
            color: white;
            line-height: 27px;
            letter-spacing: 1px;
        }

        .cadeado {
            width: 150px;
            height: 150px;
        }

        .objetivos-container {
            margin: 10px 0;
            img {
                width: 20px;
                height: 20px;

            }
            p {
              margin-left: 5px;
            }
        }

        .testadores-container {
            border-bottom: 5px solid #202636;
            border-radius: 25px;
            padding: 20px;
        }

        .desenvolvedores-container {
            padding: 20px;
        }
    }
}