<div layout-fill ng-cloak class="register-container" layout="column" flex>

	<div class="header" layout="row" layout-align="end center" flex="10">
		<md-button class="md-primary" ng-click="$registerCtrl.backToLogin()">Retornar a Login</md-button>
	</div>

	<div ng-cloak layout="column" layout-align="center center" flex layout-padding>
		<form novalidate name="registerForm" ng-submit="$registerCtrl.register()">
			<md-card>
				<md-card-content layout="column">
					<md-input-container flex="100">
						<label>Nome</label>
						<input required name="nome" ng-model="$registerCtrl.aluno.nome">
						<div ng-messages="registerForm.nome.$error">
							<div ng-message="required">Campo obrigatório</div>
						</div>
					</md-input-container>

					<md-input-container flex="100">
						<label>Login</label>
						<input required name="login" ng-model="$registerCtrl.aluno.login">
						<div ng-messages="registerForm.login.$error">
							<div ng-message="required">Campo obrigatório</div>
						</div>
					</md-input-container>

					<md-input-container flex="100">
						<label>Senha</label>
						<input required type="{{ $registerCtrl.showPassword ? 'text' : 'password'}}"
							   name="senha" ng-model="$registerCtrl.aluno.senha">
						<md-checkbox md-no-ink aria-label="Mostrar senha"
							 ng-model="$registerCtrl.showPassword" style="margin-top: 10px"
							 class="md-primary">
							Exibir senha
						</md-checkbox>
						<div ng-messages="registerForm.newStudentLogin.$error">
							<div ng-message="required">Campo obrigatório</div>
						</div>
					</md-input-container>
				</md-card-content>
				<md-card-actions layout="column" layout-align="center center">
					<md-button class="md-raised md-primary" type="submit" style="width: 100%;">
						Entrar
					</md-button>
				</md-card-actions>
			</md-card>
		</form>
	</div>
</div>
